<h2><%= @user.username %>'s Characters</h2>

<ul id="char-list">
  <% @user.characters.each do |char| %>
    <li><a href="/users/<%= @user.id %>/characters/<%= char.id %>"><%= char.name %> - Lv. <%= char.level %> <%= char.race %> <%= char.class %></li>
  <% end %>
</ul>

<a href="/users/<%= current_user.id %>/characters/new">Create a new character</a>