<h3><%=@character.name%> <%=@character.race%> <%=@character.character_class%> </h3>
<ul>
  <li><%=@character.level%></li>
  <li><%=@character.strength%></li>
  <li><%=@character.dexterity%></li>
  <li><%=@character.constitution%></li>
  <li><%=@character.intelligence%></li>
  <li><%=@character.wisdom%></li>
  <li><%=@character.charisma%></li>
</ul>
<p><%=@character.background%></p>
